# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
# Directories to ignore
tests/

test_win

test_phi1_m

quanttest

quantfdtd

test_fft

test_fft

timedomain
